.loading img{
	position: fixed;
	width: 10%;
	top: 40%;
	left: 45%;
	display: block;
	text-align: center;
	margin: auto;
	z-index: 999;
}

.loading .fade{
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	  background: #fff;
	  opacity: 0.8;
	  z-index: 998;
}

.loading h2 {
	z-index: 1000;
	color: black;
	position: absolute;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 500px;
	max-width: 1450px;
	display: inline-block;
    margin: 0px auto;
	box-shadow:0px 5px 10px #1c1c1c;
	font-family: "Syncopate", sans-serif;
}

body.home {
	padding: 3rem;
}

body.page {
	background-color: #eee ;
}

body.page.scroll {
	background-attachment: fixed;
	background-size: auto 150%;
	overflow: visible;
}

.banner{
	text-align: center;
}
.banner h1{
	position: relative;
	z-index: 2;
	font-size: 60px;
	top: 45%;
	margin: auto;

}

#header{
	position: relative;
	background-attachment: fixed;
	background-image: url('images/mountains.jpg'); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	min-height: 700px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    opacity: 1;
    font-family: "Syncopate", sans-serif;
    text-shadow: 2px 2px 3px black;
    }

h2 {
	font-weight: bold;
    display: inline;
    font-size: 20px;
    opacity: 1;
    font-family: "Syncopate", sans-serif;
}

h3 {color: white;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    opacity: 1;
    font-family: "Syncopate", sans-serif;
    } 

 h4 {color: black;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    opacity: 1;
    font-family: "Syncopate", sans-serif;
    } 

 p {
 	font-size: 14px;

 }     

#header h3 {
	text-shadow: 2px 2px 3px black;
}

#header .container {
  position: relative;
  bottom: 210px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  
  }

#header .circle img{
  height: 450px;
  position: relative;
  top:100px;
  opacity: 0.5;
}

#header #explore {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Syncopate", sans-serif;

  }

 #header #explore img{
  position: inherit;
  height: 50px;
 }

#first{
	position: relative;
	height: 600px;
	background-color: white;
	background-attachment: fixed;
	background-image: url('http://www.intrawallpaper.com/static/images/White-Background-9B1.jpg'); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
}

#first .content {
	display: flex;
	margin: 2em;
	flex-direction: row;
}

.profile-images {
	display:flex;
	flex-grow: 2;
	margin: 2em;
}

#first .float-left {
	max-width: 300px;
	display: inline-block;
	flex-grow: 1;
}

.profile{
	display: inline-block;
	width: 30%;
	min-width: 150px;
	max-width: 400px;
	height: 100%;
	border-radius: 0.25em; 
	background-image: url('images/backpacking.jpg'); 
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0.5em;
	flex-grow: 1;
}
#first .one{
	background-image: url('images/camping.jpg'); 
	background-position: 40% 50%;
	-moz-transition: all 700ms ease-out;
	-webkit-transition: all 700ms ease-out;
	-o-transition: all 700ms ease-out;
	transition: all 700ms ease-out;
}

#first .two{
	background-image: url('images/yosemite.jpg'); 
	background-position: 35% 50%;
	-moz-transition: all 900ms ease-out;
	-webkit-transition: all 900ms ease-out;
	-o-transition: all 900ms ease-out;
	transition: all 900ms ease-out;
}

#first .three {
	background-image: url('images/backpacking.jpg'); 
	background-position: 70% 50%;
	-moz-transition: all 1100ms ease-out;
	-webkit-transition: all 1100ms ease-out;
	-o-transition: all 1100ms ease-out;
	transition: all 1100ms ease-out;
}

#second{
	position: relative;
	height: 300px;
	background-attachment: fixed;
	background-image: url('images/rock5.jpg'); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#second .content {
	color: white;
}

#second .float-left {
	z-index: 2;
	top: 10em;
}

#second .fade {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	z-index: 1;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);

}


#third {
	position: relative;
	height: 1000px;
	background-color: white;
	background-attachment: fixed;
	background-image: url('http://www.intrawallpaper.com/static/images/White-Background-9B1.jpg'); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	text-align: left;
}

#third .content {
	height: 100%;
}

#third .circle {
	position: absolute;
	display: block;
	opacity: 0.7;
}

#third .one{
	top: 10%;
}

#third .two {
	top: 25%;
}

#third .three {
	top: 40%;
}

#third .four{
	top: 55%;
}

#third .five {
	top: 70%;
}

#third .six {
	top: 85%;
}

.float h3{
	margin: 1px auto;
	font-weight: bold;
	color: black;
	text-align: left;
}

.float h4{
	margin: 5px auto;
}

.float img{
	left: -20%;
}

.float {
	position: absolute;
	display: block;
	left: 20%;
	max-width: 40em;
	min-width: 30em;
	-moz-transition: all 1000ms ease-out;
	-webkit-transition: all 1000ms ease-out;
	-o-transition: all 1000ms ease-out;
	transition: all 1000ms ease-out;
}

#fourth{
	position: relative;
	height: 300px;
	background-attachment: fixed;
	background-image: url('images/wood.jpg'); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#fifth {
	position: relative;
	height: 400px;
	background-color: white;
	background-attachment: fixed;
	background-image: url('http://www.intrawallpaper.com/static/images/White-Background-9B1.jpg'); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	text-align: left;
}
#fifth .circle {
	position: absolute;
	display: block;
	opacity: 0.7;
}

#fifth .one {
	top: 30%;
}
#fifth .two {
	top: 60%;
}

#footer{
	position: relative;
	height: 600px;
	background-image: url('images/greatwall.jpg'); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.content {
	font-family: 'Open sans', sans-serif;
	font-size: 13px;
	color: black;
	padding: 20px 10px;
}

.float-left{
	position: relative;
	/*float: left;	*/
	margin: 5% 0 0 20%;
	max-width: 600px;
}

#footer .float-right{
	position: absolute;
	float: right;	
	top: 300px;
	right:10%;
	max-width: 600px;
	z-index: 2;
}

#footer .fade{
	  position: absolute;
	  left: 0;
	  top: 300px;
	  bottom: 0;
	  width: 100%;
	  height: 200px;
	  background: #000;
	  opacity: 0.7;
	  z-index: 1;
}

#footer .icons {
	text-align: center;
}

a:link{
	color:black;
	text-decoration: none;}

a:visited{
	color:black;
	text-decoration: none;}

a:hover{
	color:#87CEEB;
  	text-decoration: none;}

  .bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

  .bounce-left {
  opacity: 0;
  -moz-transition: all 1000ms ease-out;
  -webkit-transition: all 1000ms ease-out;
  -o-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  -moz-transform: translate3d(200px, 0px, 0px);
  -webkit-transform: translate3d(200px, 0px, 0px);
  -o-transform: translate(200px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate3d(200px, 0px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*.rotate {
	opacity: 1;
	-webkit-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
	transform: rotate(55deg);
	margin-top: 280px;
	margin-left: 0px;
	z-index: 100;
	position: absolute;
}*/


 .in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


